<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TourneyFinder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div id="app">
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link class="navbar-item" to="/">TourneyFinder</router-link>
                <router-link class="navbar-item" to="/event/add">Add Event</router-link>
                <router-link class="navbar-item" to="/login" v-if="canDisplay">Login</router-link>
                <router-link class="navbar-item" to="/register" v-if="canDisplay">Register</router-link>
                <div class="navbar-item" v-if="canModerate">Moderate</div>
            </div>
    </nav>
    <div class="container">
        <div class="columns">
            <div class="column">
                <router-view></router-view>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer has-text-centered">
        <strong>TourneyFinder</strong> by <a href="https://tjsoptame.com">TJ Soptame</a>
    </footer>
    <script src="/dist/build.js"></script>
  </body>
</html>
